<div id="busquedacentrada">
    <h1>Bienvenidx, {{nombre}}</h1>
    <h2>Busca Películas</h2>
    <label for="titulo">Título: </label>
    <input id="busqueda" type="text" />
    <button onclick="buscar()">Buscar</button>
</div>
<img id="fondohome" src="background.png">

<div id="peliculas"></div>

<script>
    //API CODE5971ce05

    //Send all data requests to:
    //http://www.omdbapi.com/?apikey=5971ce05&


    const divPeliculas = document.getElementById("peliculas")
    const divZoomTapa = document.getElementById("zoomTapa")
    const divSombreado = document.getElementById("sombreado");

    function buscar() {
        let xhr = new XMLHttpRequest();
        xhr.onload = function () {

            if (xhr.status == 200) {
                let respuesta = JSON.parse(xhr.responseText);

                if (respuesta.Search) {
                    let peliculas = respuesta.Search;
                divPeliculas.textContent = "";


                peliculas.forEach(pelicula => {
                    divPeliculas.appendChild(crearDivPelicula(pelicula));
                    console.log ("peliculas:" + peliculas)
                });
                } else {
                divPeliculas.textContent = "No se encontraron resultados";
            }

            } else {
                divPeliculas.textContent = xhr.responseText;
            }
        }

        let filtroTitulo = document.getElementById("busqueda").value;

        xhr.open("GET", `http://www.omdbapi.com/?apikey=5971ce05&s=${filtroTitulo}`);

        xhr.send();

        divPeliculas.textContent = "Consultando datos....";

    }


    function crearDivPelicula(datospelicula) {

        let divRespuesta = document.createElement("div");

        let html = '';
        console.log ("datospeliculas:" + datospelicula)

        html += `<div class="contenedor-pelicula">`;
        html += `<img src="${datospelicula.poster}">`;
        html += `<ul>`;
        html += `<li>Titulo: ${datospelicula.title}</li>`;
        html += `<li>Año: ${datospelicula.year}</li>`;
        html += `<li>Tipo: ${datospelicula.type}</li>`;
        html += `</ul>`;
        html += `</div>`;

        divRespuesta.innerHTML = html;

        return divRespuesta;

    }
    
</script>